<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <title>Demo - Butterfly</title>
  <meta name="theme-color" content="#166E78">

  <!-- <link rel="stylesheet" href="../css/app.css" > -->
  <link rel="stylesheet" href="../css/min.app.css">

</head>

<body class="u-green1">
  <div class="demo-wrapper">

    <img class="demo-header" src="./assets/Butterfly.svg" />

    <div class="demo-body">
      <div class="demo-body__title">
        <strong>DEMO INC.</strong> would like to know:
      </div>

      <div class="demo-body__question">
        How is your week going?
      </div>

      <div class="demo-body__moods">
        <a href="/questions/?v=1"><img class="demo-body__moods__icon" src="./assets/VeryUnhappy.svg" /></a>
        <a href="/questions/?v=2"><img class="demo-body__moods__icon" src="./assets/Unhappy.svg" /></a>
        <a href="/questions/?v=3"><img class="demo-body__moods__icon" src="./assets/Neutral.svg" /></a>
        <a href="/questions/?v=4"><img class="demo-body__moods__icon" src="./assets/Happy.svg" /></a>
        <a href="/questions/?v=5"><img class="demo-body__moods__icon" src="/assets/VeryHappy.svg" /></a>
      </div>

      <div class="demo-body__anonymous">
        Your answer will always remain anonymous
      </div>
    </div>

    <div class="demo-footer">
      <div class="demo-footer__motto">
        Butterfly. Your Team's Happiness Manager.
      </div>

      <div class="demo-footer__copy">
        Appynest, Inc. - 604 East Eleven Street, NY 10009</br>
        &copy;2021 Appynest, Inc. All rights reserved.
      </div>
    </div>
  </div>

</body>

</html>